{% extends "base.html" %}
{% block title %}Remove Blog Post{% endblock %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete the post titled, "{{ object.title }}"?</p>
  <input type="submit" value="Confirm" />
</form>
{% endblock %}
