<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <style type="text/css">
      body {
        padding: 8px;
      }
      nav {
        font-size: 20px;
      }
      nav a {
        padding: 3px 5px 2px 5px;
        display: inline-block;
        text-align: center;
        width: 120px;
        text-decoration: none;
        color: #551A8B;
        background-color: #ddd;
      }
      footer {
        position: absolute;
        bottom: 10px;
      }
  </style>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blogposts/add">Add Post</a>
      <a href="/hello/">Hello</a>
      <a href="/contact/">Contact Us</a>
      <a href="/admin/">Admin</a>
    </nav>
  </header>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <footer>
    <a href="http://www.djangoproject.com/">
      <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
           border="0" alt="Made with Django!" title="Made with Django!" />
    </a>
  </footer>
</body>
</html>
