{% extends "base.html" %}
{% block title %}Individual Blog Post{% endblock %}
{% block content %}
<h3><a href="/blogposts/{{ post.id }}/edit">{{ post.title }}</a> (by {{ post.author }}) posted: {{ post.date_posted }}</h3>
<p>{{ post.content }}</p>
<p><a href="/blogposts/{{ post.id }}/delete">Remove this post</a></p>
{% endblock %}
