{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% for post in posts %}
<h3><a href="/blogposts/{{ post.id }}">{{ post.title }}</a> (by {{ post.author }}) posted: {{ post.date_posted }}</h3>
<p>{{ post.content }}</p>
{% endfor %}
{% endblock %}
